body {
    padding: 10%;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

p {
    line-height: 1.5; 
}

a {
    color: hsl(207, 44%, 49%);
}

a:visited {
    color: purple;
}

a:hover {
    color: hsl(207, 44%, 49%, 0.8);
    opacity: 0.8;
}
a:active {
    color: red;
}

/* 
input, button {
    font-size: inherit;
} */